<html>

<head>
  <title>Stream View</title>
  <link href=data: rel=icon>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <script src="/static/hls.js"></script>

  <center>
    <h1><a href="/">all streams</a></h1>
    <video width="100%" id="video" controls></video>
  </center>

  <script>
const urlsp = new URLSearchParams(location.search);
const sid = urlsp.get("sid");

var video = document.getElementById('video');
if (Hls.isSupported()) {
  var hls = new Hls({});
  hls.loadSource(`/streams/${sid}.m3u8`);
  hls.attachMedia(video);
  hls.on(Hls.Events.MEDIA_ATTACHED, function () {
    video.muted = false;
    video.play();
  });
}
// hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
// When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
// This is using the built-in support of the plain video element, without using hls.js.
else if (video.canPlayType('application/vnd.apple.mpegurl')) {
  video.src = `/streams/${sid}.m3u8`;
  video.addEventListener('canplay', function () {
    video.play();
  });
}
  </script>
</body>

</html>
